   
<!-- this part that display all the applicant information -->
  <table id="payload" class="table table-hover table-striped">
    <!-- table header -->
    <tr>
      <th class="input">Id</th>
      <th class="input">S.S</th>
      <th class="input">First</th>
      <th class="input">Last</th>
      <th class="input">Gender</th>
      <th class="input">Species</th>
      <th class="input">Height</th>
      <th class="input">Color</th>
      <th class="input">Occupation</th>
      <th class="input">wanted</th>
      <th class="input">Address</th>
      <th class="input">Status</th>
      <th class="input">Date Received</th>
      <th class="input">Date Updated</th>
      <th class="input">Tel#</th>
    </tr>
    <!-- loop through all the applicant information in the data object -->
    <% data.forEach(function(d) { %>
      <tr>
        <td id="id_<%=d.ss%>" > <%=d.id%> </td>
        <td id="ss_<%=d.ss%>" > <%=d.ss%> </td>
        <td id="first_<%=d.ss%>" > <%=d.first%> </td>
        <td id="last_<%=d.ss%>" > <%=d.last%> </td>
        <td id="gender_<%=d.ss%>" > <%=d.gender%> </td>
        <td id="species_<%=d.ss%>" > <%=d.species%> </td>
        <td id="height_<%=d.ss%>" > <%=d.height%> </td>
        <td id="color_<%=d.ss%>" > <%=d.color%> </td>
        <td id="occupation_<%=d.ss%>" > <%=d.occupation%> </td>
        <td id="wanted_<%=d.ss%>" > <%=d.wanted%> </td>
        <td id="city_<%=d.ss%>" > <%=d.city%> </td>
        <td>
          <select class="input_item" id="status_<%=d.ss%>" type=  "text" value="<%= d.status %>">
            <option value=" "><%=d.status%> </option>
            <option value="Passport Received">Passport  Received</ option>
            <option value="Security Verification">Security    Verification</option>
            <option value="CID Verification">CID Verification</   option>
            <option value="Contact Authority">Contact   Authority</ option>
            <option value="Missing Documents">Missing   Documents</ option>
            <option value="Interview">Interview</option>
            <option value="PassPort in Mail">PassPort in Mail</ option>
          </select>
        </td>
        <td><input class="input_date" id="startdate_<%=d.ss%>" type="date" value="<%= d.startdate %>"></td>
        <td><input class="input_date" id="finishdate_<%=d.ss%>" type="date" value="<%= d.finishdate %>"></td>
        <td><input class="input_item" id="telnum_<%=d.ss%>" target='TEL' type="number"  placeholder="123-456-7890" value="<%= d.telnum %>"><%= d.telnum %></td>
        <!-- hide the image because I want to display this image in the modal -->
        <td style="display: none;" id="image_<%=d.ss%>"><%= d.image %></td>
        <td>
          <button type="button" id=picture_<%=d.ss%> data-toggle="modal" data-target="#myModal" class="picture">🖼</button>
          <button type="button" id=delete_<%=d.ss%> class="delete">🗑</button>
        </td>
      </tr> 
    <% }) %> 
  </table>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Form  -->
        <form action="#" method="post" class="person">
          <center>
            <div class="modal-body">
            <!-- this part where the picture will be displayed -->
            </div>
          </center>
          <div class="modal-footer">
            <button type="button" class="btn btn-md" data-dismiss="modal">Cancel</button>
          </div>  
        </form>
      </div>
    </div>
  </div>